compile_commands.json

*.class
*.log
*.tasty
.cache

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#idea
.idea

# bloop and metals
.bloop
.bsp
.metals
project/metals.sbt
.scalafmt.conf

#vscode
.vscode

# scala 3
.tasty
.scala-build

# sbt
project/project/
project/target/
target/

#coursier
null/

# other
.history
.scala_dependencies
.cache-main
out/
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
